html {
    background: url(images/cloudsBackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App {
    text-align: center;
    flex-direction: column;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: smaller;
    margin-top: 2px;
    margin-bottom: 2px;
}

h4 {
    margin: 0;
}

ul {
    display: flex;
    text-decoration: none;
    padding-left: 0;
    height: 100%;
    align-content: center;
    align-items: center;
}

li {
    height: 100%;
    align-items: center;
    align-content: center;
}


/* Nav Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav {
    background-color: rgb(245, 158, 45);
    position: sticky;
    top: 0;
    height: 60px;
    align-items: center;
    align-content: center;
    z-index: 2;
}

#navLinks {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 10px;
    background-color: none;
    border: none;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 325;
    font-size: 14px;
    z-index: 2;
}

#homeNav {
    font-weight: 800;
    z-index: 2;
}

#navBarRight {
    text-decoration: none;
    z-index: 2;
}

#navWidth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 90vw;
    margin: auto;
    height: 60px;
    z-index: 2;
}


/* Body Elements ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#loadingScreen {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#signinButton {
    width: 70px;
    background-color: transparent;
    border: none;
    color: white;
}

#logoutButton {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 4px;
}

#navPic {
    border-radius: 50%;
    width: 2rem;
    align-content: center;
    align-items: center;
}

#weatherCard {
    margin: auto;
    background-color: rgba(133, 128, 128, 0.678);
    color: white;
    width: 45%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    min-width: 305px;
    min-height: 285px;
    flex-wrap: wrap;
}

#tempBox {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

#button1 {
    background-color: rgb(245, 158, 45);
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    margin-left: 5px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
}

#container1 {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin: auto;
    justify-content: space-evenly;
}

#container2 {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin: auto;
    justify-content: space-evenly;
}

#weatherDetails {
    padding-right: 5px;
}

#otherDetails {
    width: 50%;
    justify-content: revert;
    display: flex;
    flex-direction: column;
}

#weatherDetailsTemp {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#allDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#weeklyDetails {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: .6rem;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    padding: 4px;
}

#weeklyDetailsLi {
    list-style-type: none;
    align-items: center;
    align-content: center;
    display: flex;
    width: auto;
    justify-content: center;
    /* border-right: .3px solid gray;
    border-left: .3px solid gray;
    line-height: 5px; */
}

#weeklyUl {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    margin: 5px;
    flex-direction: row;
    /* flex-wrap: wrap;
    flex: 1 0 21%; */
}

#weekIcons {
    width: 100%;
    display: flex;
}

#currentIcon {
    width: auto;
}

#dailyAlerts {
    width: 95%;
    text-align: left;
    margin: auto;
    margin: 15px;
    font-size: 12px;
}

#airQuality {
    background-image: url(./images/airQuality.png);
}


/* Mapbox info ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.MapBox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.map-container {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 0;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

#sidebarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}


/* YouTube video ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#weatherCard2 {
    margin: auto;
    background-color: rgba(133, 128, 128, 0.678);
    color: white;
    width: 90.2%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    min-width: 305px;
    min-height: 285px;
}

#youtube {
    margin: 15px;
    width: 90%
}


/* Mobile Responsiveness ~~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width: 900px) {
    #weeklyUl {
        flex-wrap: wrap;
    }
    #weeklyDetailsLi {
        border-bottom: .2px solid black;
    }
}

@media only screen and (max-width: 900px) {
    #container1,
    #container2,
    #mainContainer {
        flex-direction: column;
    }
    .MapBox {
        width: 100%
    }
    .map-container {
        width: 100vw;
        height: 275px;
    }
    body {
        background-repeat: repeat;
        background-position: top;
    }
    #weatherCard {
        width: 95%
    }
}

@media only screen and (min-width:1900px) {
    body {
        background-repeat: repeat;
    }
}